@charset "utf-8";
@import "bulma";

html, body {
  height: 100vh;
}

#app, body {
  background: $white-ter!important;
  color: $black-ter!important;

  & button {
    background: $dark!important;
    color: $light!important;
  }

  &.dark {
    background: $black-ter!important;
    color: $white-ter!important;

    & button {
      background: $light!important;
      color: $dark!important;
    }
  }
}

