@charset "utf-8";
@import "bulma";

html, body {
  height: 100vh;
}

#app, body {
  background: $white-ter!important;
  color: $black-ter!important;

  &.dark {
    background: $black-ter!important;
    color: $white-ter!important;
  }
}

button {
  color: $light;
  background: $dark;
}

body.dark button {
  background: $light;
  color: $dark;
}